.chart {
    padding-left: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart .chartOption {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}