.container {
    width: 100vw;
    border-bottom: 1px solid #EFF1F3;
    padding-left: 50px;
}

.buttonContainer {
    border-bottom: none !important;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.buttonTabs {
    gap: 10px !important;
}

.tab {
    font-size: 18px;
    color: #6F7177;
    cursor: pointer;
    padding: 8px 12px;
    position: relative;
}

.lineTab {
    transition: color 0.5s ease-in-out;
}

.lineTab:hover {
    color: #1A243A;
}

.lineTab.active {
    font-weight: 600;
    color: #1e1e1e;
    border-bottom: 3px solid #4B40EE;
}

.buttonTab.active {
    background-color: #4B40EE;
    color: white;
    border-radius: 5px;
}
